.main-container{
    position: relative;
    height: 588px;
    .login-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../images/login-bg.jpg);
        background-size: 100% 100%;
    }
    .login-container{
        width: 100%;
        height: 588px;
        background: #e8e8e8;
        .login-width{
            width: 1140px;
            height: 588px;
            position: relative;
            margin: 0 auto;
            .login{
                position: absolute;
                top: 99px;
                right: 0;
                width: 450px;
                margin-left: 60px;
                margin-bottom: 20px;
                background-color: #fff;
                border: 1px solid transparent;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0,0,0,.05);
                .login-heading{
                    color: #333;
                    background-color: #f5f5f5;
                    border-color: #ddd;
                    padding: 10px 15px;
                    border-bottom: 1px solid transparent;
                    a{
                        padding: 1px 5px;
                        font-size: 12px;
                        line-height: 1.5;
                        border-radius: 1px;
                        float: right !important;
                        color: #fff;
                        background-color: #f99e1e;
                        border-color: #f79307;
                        border: 1px solid transparent;
                        user-select: none;
                    }
                }
                .login-body{
                    padding: 15px;
                    height: 285px;
                    .form-group{
                        margin-bottom: 15px;
                        margin-left: -15px;
                        margin-left: -15px;
                        height: 34px;
                        label{
                            padding-top: 7px;
                            margin-bottom: 0;
                            text-align: right;
                            width: 16.7%;

                            max-width: 100%;
                            margin-bottom: 5px;
                            font-weight: 700;
                            position: relative;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;
                            font-size: 14px;
                            float: left;
                        }
                        .input-content{
                            position: relative;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;
                            float: left;
                            width: 83.3%;
                            input{
                                display: block;
                                width: 100%;
                                height: 34px;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857143;
                                color: #555;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                border-radius: 2px;  
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                            }
                        }
                       .code{
                           width: 41.6%;
                       }   
                    }
                    .form-checkbox{
                        margin-top: 35px;
                        .auto-checkbox{
                            float: left;
                            margin-left: 16.7%;
                            width: 46.7%;
                        }
                    }
                    .login-btn{
                        float: left;
                        margin-left: 16.7%;
                        margin-top: 15px;
                        button{
                            color: #fff;
                            background-color: #c13e2c;
                            border-color: #ac3727;
                            display: inline-block;
                            padding: 6px 12px;
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.42857143;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;  
                            touch-action: manipulation;
                            cursor: pointer;
                            user-select: none;
                            background-image: none;
                            border: 1px solid transparent;
                            border-radius: 2px;
                        }
                    }
                    .bottom-tip{
                        display: none;
                        border-radius: 3px;
                        width: 90%;
                        height: 50px;
                        line-height: 50px;
                        background-color: rgba(204, 152, 145, 0.762);
                        margin-left: 20px;
                        margin-bottom: 10px;
                        top: 30px;
                        float: left;
                        margin-top: 10px;
                        font-size: 14px;
                        text-indent: 10px;
                        color: rgba(105, 86, 83, 0.762);
                    }
                }
            }
        }
    }
}